@charset 'utf-8';
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.Header {
    background-color: red;
    display: flex;
    justify-content: center;
    color: #fff;
}

.mapper {
    display: flex;
    justify-content: center;
}

#map {
    width: 100%;
    height: 450px;
}

.Footer {
    width: 100%;
    height: 200px;
    background-color: #373737;
    color: #fff;
    text-align: left;
    padding: 15px;
}

.content_wrap {
    display: flex;
    justify-content: center;
}

.content {
    /* display: flex; */
    width: 960px;
    /* justify-content: center; */
}

.content_item {
    width: 220px;
}

.content_items {
    /* display: flex; */
}

.content_item>img {
    width: 200px;
    height: 250px;
    margin: 10px;
}

.Filter_sidebar {
    width: 220px;
    border: solid black 1px;
}

.Filter_sidebar>div {
    border: solid black 1px;
    padding: 10px;
}

b {
    color: red;
}

.reserve-btn {
    margin-right: 30px
}